<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/ticket.css" rel="stylesheet" type="text/css">
    <title>比赛报名</title>
    <style>

    </style>
</head>
<body>
<div data-role="page" style="overflow-x: hidden;/* background: #eaeaea;*/">
    <div class="container" data-role="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="text-align:center">
                <!--选项卡-->
                <div class="search">
                    <dl class="Categories">
                        <dt class="left">分&ensp;类：</dt>
                        <dd class="all"><a th:href="@{/matchPage(subject='',category='')}" th:class="${category==''?'this':''}" >全部</a></dd>
                        <dd class="right" style="float: left;width: 75%;">
                            <ul style="padding: 0;" id="category">
                                <li><a th:href="@{/matchPage(subject='',category='Football')}" th:class="${category=='Football'?'this':''}" value="Football">足球</a></li>
                                <li><a th:href="@{/matchPage(subject='',category='TableTennis')}" th:class="${category=='TableTennis'?'this':''}" value="TableTennis">乒乓球</a></li>
                                <li><a th:href="@{/matchPage(subject='',category='Badminton')}" th:class="${category=='Badminton'?'this':''}" value="Badminton">羽毛球</a></li>
                                <li><a th:href="@{/matchPage(subject='',category='Basketball')}" th:class="${category=='Basketball'?'this':''}" value="Basketball">篮球</a></li>
                                <li><a th:href="@{/matchPage(subject='',category='Swimming')}" th:class="${category=='Swimming'?'this':''}" value="Swimming">游泳</a></li>
                                <li><a th:href="@{/matchPage(subject='',category='Athletic')}" th:class="${category=='Athletic'?'this':''}" value="Athletic">田径</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="Small_class" th:if="${category!=''}" id="subject">
                        <dt class="left">子&ensp;类：</dt>
                        <dd class="right" th:if="${category=='Football'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='Eleven',category='Football')}" th:class="${subject=='Eleven'?'this':''}" value='Eleven'>11人制</a></li>
                            </ul>
                        </dd>
                        <dd class="right" th:if="${category=='Basketball'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='5V5',category='Basketball')}" th:class="${subject=='5V5'?'this':''}" value='5V5'>5V5</a></li>
                            </ul>
                        </dd>
                        <dd class="right" th:if="${category=='TableTennis'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='manOne',category='TableTennis')}" th:class="${subject=='manOne'?'this':''}" value='manOne'>男子单打</a></li>
                                <li><a th:href="@{/matchPage(subject='manTwo',category='TableTennis')}" th:class="${subject=='manTwo'?'this':''}" value='manTwo'>男子双打</a></li>
                                <li><a th:href="@{/matchPage(subject='womanOne',category='TableTennis')}" th:class="${subject=='womanOne'?'this':''}" value='womanOne'>女子单打</a></li>
                                <li><a th:href="@{/matchPage(subject='womanTwo',category='TableTennis')}" th:class="${subject=='womanTwo'?'this':''}" value='womanTwo'>女子双打</a></li>
                                <li><a th:href="@{/matchPage(subject='mix',category='TableTennis')}" th:class="${subject=='mix'?'this':''}" value='mix'>混合双打</a></li>
                            </ul>
                        </dd>
                        <dd class="right" th:if="${category=='Swimming'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='backstroke',category='Swimming')}" th:class="${subject=='backstroke'?'this':''}" value='backstroke'>100米仰泳</a></li>
                                <li><a th:href="@{/matchPage(subject='Breaststroke',category='Swimming')}" th:class="${subject=='Breaststroke'?'this':''}" value='Breaststroke'>100米蛙泳</a></li>
                                <li><a th:href="@{/matchPage(subject='Butterfly',category='Swimming')}" th:class="${subject=='Butterfly'?'this':''}" value='Butterfly'>100米蝶泳</a></li>
                                <li><a th:href="@{/matchPage(subject='Free',category='Swimming')}" th:class="${subject=='Free'?'this':''}" value='Free'>100米自由泳</a></li>
                            </ul>
                        </dd>
                        <dd class="right" th:if="${category=='Athletic'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='50',category='Athletic')}" th:class="${subject=='50'?'this':''}" value='50'>50米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='100',category='Athletic')}" th:class="${subject=='100'?'this':''}" value='100'>100米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='200',category='Athletic')}" th:class="${subject=='200'?'this':''}" value='200'>200米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='400',category='Athletic')}" th:class="${subject=='400'?'this':''}" value='400'>400米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='800',category='Athletic')}" th:class="${subject=='800'?'this':''}" value='800'>800米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='1500',category='Athletic')}" th:class="${subject=='1500'?'this':''}" value='1500'>1500米跑</a></li>
                                <li><a th:href="@{/matchPage(subject='highJump',category='Athletic')}" th:class="${subject=='highJump'?'this':''}" value='highJump'>跳高</a></li>
                                <li><a th:href="@{/matchPage(subject='longJump',category='Athletic')}" th:class="${subject=='longJump'?'this':''}" value='longJump'>跳远</a></li>
                            </ul>
                        </dd>
                        <dd class="right" th:if="${category=='Badminton'}">
                            <ul style="padding: 0;">
                                <li><a th:href="@{/matchPage(subject='manOne',category='Badminton')}" th:class="${subject=='manOne'?'this':''}" value='manOne'>男子单打</a></li>
                                <li><a th:href="@{/matchPage(subject='manTwo',category='Badminton')}" th:class="${subject=='manTwo'?'this':''}" value='manTwo'>男子双打</a></li>
                                <li><a th:href="@{/matchPage(subject='womanOne',category='Badminton')}" th:class="${subject=='womanOne'?'this':''}" value='womanOne'>女子单打</a></li>
                                <li><a th:href="@{/matchPage(subject='womanTwo',category='Badminton')}" th:class="${subject=='womanTwo'?'this':''}" value='womanTwo'>女子双打</a></li>
                                <li><a th:href="@{/matchPage(subject='mix',category='Badminton')}" th:class="${subject=='mix'?'this':''}" value='mix'>混合双打</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!--比赛信息-->
                <div class="ticket">
                    <ul>
                        <li th:each="match : ${matches}">
                            <div class="search_img">
                                <div class="info">
                                    <h3><a href="#" >【<span class="organizer" th:text="${match.organizer}"></span>】
                                        <span class="competition" th:text="${match.name}"></span>
                                    </a></h3>
                                    <p class="txt_pro">
                                        <a href="#"><span class="fa fa-tags"></span></a>
                                    </p>
                                    <p class="txt_time">
                                        <a href="#"><span class="fa fa-calendar" th:text="${#dates.format(match.subjectTimeStart,'yyyy/MM/dd HH:MM')}"></span></a>
                                    </p>
                                    <p class="txt_add">
                                        <a href="#"><span class="fa fa-map-marker"></span>永川体育中心 - 重庆</a>
                                    </p>
                                    <p class="txt_piao">
                                        <span class="fa fa-user"></span><em th:text="${match.number}+'人'"></em>
                                        <span class="badge green" th:text="报名截止" th:if="${match.state=='ending'}"></span>
                                        <span class="badge green" th:text="报名中" th:if="${match.state=='Enrolment'}"></span>
                                        <span class="badge green" th:text="未开始" th:if="${match.state=='Waiting'}"></span>
                                    </p>
                                </div>
                                <div class="gp_btn">
                                    <span th:text="${match.id}" style="display: none"></span>
                                    <button class="btn btn-primary enroll" style="float: right;"  data-toggle="modal" data-target="#empUpdateModal1">报名</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--报名模态框-->
                    <div class="modal fade" id="empUpdateModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">报名信息</h4>
                                </div>
                                <div class="modal-body" style="height: 250px;">
                                    <form>
                                        <input type="hidden" name="username" th:value="${session.user.username}"/>
                                        <input type="hidden" name="entryMatchId" id="entryMatchId"/>
                                        <input type="hidden" name="matchState" value="Enrolling"/>
                                        <div class="info">
                                            <h3><a href="#">【<span class="organizer" id="organizer1"></span>】<span class="name" id="name1"></span></a></h3>
                                            <p class="txt_pro">
                                                <a href="#"><span class="fa fa-tags"></span>乒乓球男子双人组</a>
                                            </p>
                                            <p class="txt_time">
                                                <a href="#"><span class="fa fa-calendar" id="subjectStart"></span></a>
                                            </p>
                                            <p class="txt_add">
                                                <a href="#"><span class="fa fa-map-marker"></span>永川体育中心 - 重庆</a>
                                            </p>
                                            <p class="txt_piao">
                                                <span class="fa fa-user"></span><em>200</em> <span class="badge green" id="state1"></span>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="pay">报名</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <footer class="site-footer">
                        <div>
                            <div style="text-align: center">
                                显示
                                <span class="num1" th:if="${page.size}>=10">10</span>
                                <span class="num1" th:if="${page.size}<10" th:text="${page.size}"></span>
                                条记录，共<span class="num1" th:text="${page.total}"></span>条记录
                            </div>
                            <div style="text-align: center;">
                                <ul class="pagination">
                                    <li><a th:href="@{/matchPage(subject=${subject},category=${category},PageNum=1)}">首页</a></li>
                                    <li><a th:href="@{/matchPage(subject=${subject},category=${category},PageNum=${page.prePage})}" th:onclick="Jump(${page.prePage})" th:if="${page.isFirstPage}==false">&lt;上一页</a></li>
                                    <li th:each="navigatepageNum : ${page.navigatepageNums}">
                                        <a th:value="${navigatepageNum}" th:text="${navigatepageNum}" th:href="@{/matchPage(subject=${subject},category=${category},PageNum=${navigatepageNum})}"></a>
                                    </li>
                                    <li><a th:href="@{/matchPage(subject=${subject},category=${category},PageNum=${page.nextPage})}" th:if="${page.isLastPage}==false">下一页&gt;</a></li>
                                    <li><a th:href="@{/matchPage(subject=${subject},category=${category},PageNum=${page.pages})}">末页</a></li>
                                </ul>
                            </div>
                            <!-- <span><input type="text" class="ipt" value="" id="_page_input_num" #if($pages == 0)disabled#end/></span>
                              <span><input type="button" value="跳转" class="sure" id="Jump"  #if($pages == 0)disabled#end/></span>-->
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div data-role="footer">

    </div>
</div>

<script>
    //获取比赛的信息
    $(".enroll").click(function () {
        var id = $(this).parent().find("span").text();
        $.ajax({
            url:"/match/"+id,
            type:"GET",
            success:function (result) {
                $("#organizer1").text(result.organizer);
                $("#name1").text(result.name);
                $("#subjectStart").text(result.subjectTimeStart);
                $("#entryMatchId").val(result.id);
                if (result.state=="Enrolment") {
                    $("#state1").text("报名中")
                }else if (result.state=="Waiting") {
                    $("#state1").text("未开始")
                }else{
                    $("#state1").text("报名截止")
                }
            }
        })
    });
    //点击报名，开始报名
    $("#pay").click(function () {
        $.ajax({
            url:"/EnrollMatch",
            type:"POST",
            data:$("#empUpdateModal1 form").serialize(),
            success:function (result) {
                alert(result);
            }
        })
    })
</script>
</body>
</html>