<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/ticket.css" rel="stylesheet" type="text/css">
    <title>培训报名</title>
    <style>

    </style>
</head>
<body>
<div data-role="page" style="overflow-x: hidden;/* background: #eaeaea;*/">
    <div class="container" data-role="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="text-align:center">
                <!--选项卡-->
                <div class="search">
                    <dl class="Categories">
                        <dt class="left">分&ensp;类：</dt>
                        <dd class="all"><a href="javascript:void(0)" class="this" >全部</a></dd>
                        <dd class="right" style="float: left;width: 75%;">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value="Football">足球</a></li>
                                <li><a href="javascript:void(0)" class="" value="PingPong">乒乓</a></li>
                                <li><a href="javascript:void(0)" class="" value="PingPong">羽毛球</a></li>
                                <li><a href="javascript:void(0)" class="" value="Basketball">篮球</a></li>
                                <li><a href="javascript:void(0)" class="" value="Swimming">游泳</a></li>
                                <li><a href="javascript:void(0)" class="" value="Athletic">田径</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="Small_class" style="display: none;">
                        <dt class="left">子&ensp;类：</dt>
                        <dd class="all"><a href="javascript:void(0)" class="" >全部</a></dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Chorus'>11人制</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Drama'>男子单打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Opera'>男子双打</a></li>
                                <li><a href="javascript:void(0)" class="" value='TheLivingTheatre'>女子单打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>女子双打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>混合双打</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Drama'>男子单打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Opera'>男子双打</a></li>
                                <li><a href="javascript:void(0)" class="" value='TheLivingTheatre'>女子单打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>女子双打</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>混合双打</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Rock'>5V5</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='LatinDance'>100米仰泳</a></li>
                                <li><a href="javascript:void(0)" class="" value='ModernDance'>100米蛙泳</a></li>
                                <li><a href="javascript:void(0)" class="" value='FolkDance'>100米蝶泳</a></li>
                                <li><a href="javascript:void(0)" class="" value='Ballet'>100米自由泳</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='BeijingOpera'>50米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='ShaoxingOpera'>100米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='Huangmeixi'>200米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='PingJuOpera'>400米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='HenanOpera'>800米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>1500米跑</a></li>
                                <li><a href="javascript:void(0)" class="" value='HenanOpera'>跳高</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>跳远</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Football'>足球</a></li>
                                <li><a href="javascript:void(0)" class="" value='Basketball'>篮球</a></li>
                                <li><a href="javascript:void(0)" class="" value='TableTennis'>乒乓球</a></li>
                                <li><a href="javascript:void(0)" class="" value='Swimming'>游泳</a></li>
                                <li><a href="javascript:void(0)" class="" value='Bodybuilding'>健身</a></li>
                                <li><a href="javascript:void(0)" class="" value='Badminton'>羽毛球</a></li>
                                <li><a href="javascript:void(0)" class="" value='Athletics'>田径</a></li>
                                <li><a href="javascript:void(0)" class="" value='Tennis'>网球</a></li>
                                <li><a href="javascript:void(0)" class="" value='Shotput'>铅球</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>其他</a></li>
                            </ul>
                        </dd>
                        <dd class="right" style="">
                            <ul style="padding: 0;">
                                <li><a href="javascript:void(0)" class="" value='Acrobatics'>器械杂技</a></li>
                                <li><a href="javascript:void(0)" class="" value='BodyAcrobatics'>形体杂技</a></li>
                                <li><a href="javascript:void(0)" class="" value='AerialAcrobatics'>高空杂技</a></li>
                                <li><a href="javascript:void(0)" class="" value='OralSkills'>口技</a></li>
                                <li><a href="javascript:void(0)" class="" value='Other'>其他</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!--比赛信息-->
                <div class="ticket">
                    <ul>
                        <li>
                            <div class="search_img">
                                <img alt="" src="../static/img/showPicture/tkzc.jpg">
                                <div class="info">
                                    <h3><a href="javascript:void(0)" target="_blank">永川区第九届全民乒乓免费培训班</a></h3>
                                    <p class="txt_teach">
                                        <a href="javascript:void(0)"><span class="fa fa-user-o"></span>张无忌</a>
                                    </p>
                                    <p class="txt_time">
                                        <a href="javascript:void(0)"><span class="fa fa-calendar"></span>2019.04.22 周一 09:30</a>
                                    </p>
                                    <p class="txt_add">
                                        <a href="javascript:void(0)"><span class="fa fa-map-marker "></span>永川体育中心 - 乒乓球馆</a>
                                    </p>
                                    <p class="txt_piao">
                                        <span class="fa fa-user"></span><em>200人</em> <span class="badge green">报名中
                                    </span>
                                    </p>
                                </div>
                                <div class="gp_btn">
                                    <button class="btn btn-primary" style="float: right;"  data-toggle="modal" data-target="#empUpdateModal1">报名</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="search_img">
                                <img alt="" src="../static/img/showPicture/tkzc.jpg">
                                <div class="info">
                                    <h3><a href="javascript:void(0)" target="_blank">永川区第九届全民篮球免费培训班</a></h3>
                                    <p class="txt_teach">
                                        <a href="javascript:void(0)"><span class="fa fa-user-o"></span>张中杰</a>
                                    </p>
                                    <p class="txt_time">
                                        <a href="javascript:void(0)"><span class="fa fa-calendar"></span>2019.04.22 周一 09:30</a>
                                    </p>
                                    <p class="txt_add">
                                        <a href="javascript:void(0)"><span class="fa fa-map-marker "></span>重庆文理学院 - 篮球场</a>
                                    </p>
                                    <p class="txt_piao">
                                        <span class="fa fa-user"></span><em>200人</em> <span class="badge red">报名截止
                                    </span>
                                    </p>
                                </div>
                                <div class="gp_btn">
                                    <button class="btn btn-primary" style="float: right;"  data-toggle="modal" data-target="#empUpdateModal1" disabled>报名</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="search_img">
                                <img alt="" src="../static/img/showPicture/tkzc.jpg">
                                <div class="info">
                                    <h3><a href="javascript:void(0)" target="_blank">永川区第九届全民游泳免费培训班</a></h3>
                                    <p class="txt_teach">
                                        <a href="javascript:void(0)"><span class="fa fa-user-o"></span>汤米</a>
                                    </p>
                                    <p class="txt_time">
                                        <a href="javascript:void(0)"><span class="fa fa-calendar"></span>2019.04.22 周一 09:30</a>
                                    </p>
                                    <p class="txt_add">
                                        <a href="javascript:void(0)"><span class="fa fa-map-marker "></span>永川体育中心 - 游泳馆</a>
                                    </p>
                                    <p class="txt_piao">
                                        <span class="fa fa-user"></span><em>200人</em> <span class="badge green">报名中
                                    </span>
                                    </p>
                                </div>
                                <div class="gp_btn">
                                    <button class="btn btn-primary" style="float: right;"  data-toggle="modal" data-target="#empUpdateModal1">报名</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--报名模态框-->
                    <div class="modal fade" id="empUpdateModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">报名信息</h4>
                                </div>
                                <div class="modal-body" style="height: 250px;">
                                    <form>
                                        <img alt="" src="../static/img/showPicture/tkzc.jpg">
                                        <div class="info">
                                            <h3><a href="javascript:void(0)" target="_blank">永川区第九届全民乒乓免费培训班</a></h3>
                                            <p class="txt_teach">
                                                <a href="javascript:void(0)"><span class="fa fa-user-o"></span>张无忌</a>
                                            </p>
                                            <p class="txt_time">
                                                <a href="javascript:void(0)"><span class="fa fa-calendar"></span>2019.04.22 周一 09:30</a>
                                            </p>
                                            <p class="txt_add">
                                                <a href="javascript:void(0)"><span class="fa fa-map-marker "></span>永川体育中心 - 乒乓球馆</a>
                                            </p>
                                            <p class="txt_piao">
                                                <span class="fa fa-user"></span><em>200人</em> <span class="badge green">报名中
                                    </span>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="pay">报名</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <footer class="site-footer">
                        <div>
                            <div style="text-align: center">
                                显示
                                <span class="num1" th:if="${page.size}>=10">10</span>
                                <span class="num1" th:if="${page.size}<10" th:text="${page.size}"></span>
                                条记录，共<span class="num1" th:text="${page.total}"></span>条记录
                            </div>
                            <div style="text-align: center;">
                                <ul class="pagination">
                                    <li><a th:href="@{/BackstageTicket(type=${type},subtype=${subtype},PageNum=1)}">首页</a></li>
                                    <li><a th:href="@{/BackstageTicket(type=${type},subtype=${subtype},PageNum=${page.prePage})}" th:onclick="Jump(${page.prePage})" th:if="${page.isFirstPage}==false">&lt;上一页</a></li>
                                    <li th:each="navigatepageNum : ${page.navigatepageNums}">
                                        <a th:value="${navigatepageNum}" th:text="${navigatepageNum}" th:href="@{/BackstageTicket(type=${type},subtype=${subtype},PageNum=${navigatepageNum})}"></a>
                                    </li>
                                    <li><a th:href="@{/BackstageTicket(type=${type},subtype=${subtype},PageNum=${page.nextPage})}" th:if="${page.isLastPage}==false">下一页&gt;</a></li>
                                    <li><a th:href="@{/BackstageTicket(type=${type},subtype=${subtype},PageNum=${page.pages})}">末页</a></li>
                                </ul>
                            </div>
                            <!-- <span><input type="text" class="ipt" value="" id="_page_input_num" #if($pages == 0)disabled#end/></span>
                              <span><input type="button" value="跳转" class="sure" id="Jump"  #if($pages == 0)disabled#end/></span>-->
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div data-role="footer">

    </div>
</div>

<script>
    //  选项卡
    window.onload = function () {
        var Search = document.getElementsByClassName("search")[0];
        var Categories = Search.getElementsByClassName("Categories")[0];
        var C_a = Categories.getElementsByClassName("all")[0].getElementsByTagName("a")[0];
        var C_item = Categories.getElementsByTagName("li");
        var Small_class = Search.getElementsByClassName("Small_class")[0];
        var S_a = Small_class.getElementsByClassName("all")[0].getElementsByTagName("a")[0];
        var S_right = Small_class.getElementsByClassName("right");

        var C_len = C_item.length,
            S_len = S_right.length;

        for (var i = 0; i < C_len; i ++){
            C_item[i].index = i;
            C_item[i].onclick = function () {
                for (var j = 0; j < C_len; j ++){
                    C_item[j].className = "";
                    C_a.className = "";
                    S_right[j].style.display = "none";
                    S_right[j].classList.remove("show");
                }
                this.className = "this";
                Small_class.style.display = "block";
                S_right[this.index].style.display = "block";
                S_right[this.index].classList.add("show");
                S_a.className = "this";

                var S_R_show = Small_class.getElementsByClassName("show")[0];
                var S_R_item = S_R_show.getElementsByTagName("li");
                var SR_len = S_R_item.length;
                for (var m = 0; m < SR_len; m ++){
                    S_R_item[m].onclick = function () {
                        for (var n = 0; n < SR_len; n ++){
                            S_R_item[n].className = "";
                            S_a.className = "";
                        }
                        this.className = "this";
                    };
                    S_a.onclick = function () {
                        for (var n = 0; n < SR_len; n ++){
                            S_R_item[n].className = "";
                        }
                        this.className = "this";
                    }
                }
            };
            C_a.onclick = function () {
                for (var j = 0; j < C_len; j ++){
                    C_item[j].className = "";
                    S_right[j].style.display = "none";
                    Small_class.style.display = "none";
                    S_right[j].classList.remove("show");
                }
                this.className = "this";
                S_right[this.index].style.display = "none";
                Small_class.style.display = "none";
                S_right[this.index].classList.remove("show");
            }
        }
    };

    var Pay = document.getElementById("pay");
    Pay.onclick = function () {

    };

</script>
</body>
</html>